.header{
    background-color: #072B54;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    margin-bottom: 2vh ;
  }
  .mainBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  span{
    font-size: 0.5vw;
    color: rgb(255, 255, 255);
  }
  h1{
    height: fit-content;
    font-size: 2.5vw;
  }
  .timeTable{
    width: 8vw;
    background-color: white;
    margin: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    height:40vw;
    align-items: center;
  }
  button{
    width: 5vw;
    height: 2.5vh;
    background-color: white;
    margin-top: 1vh;
  }
  .title{
    background-color: #90c2fb;
  }
  /* @media screen (max-width:'') {
    
  } */