.order{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    align-items:center;
}
div{
    margin-top: 2vh;
    text-align: start;
    font-size: 1.5vw;
}
button{
    width: fit-content;
    height: 3vh;
    margin-top: 5vh;
}